<ion-header>
  <ion-toolbar>
    <ion-title>
      Conférence
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img
      src="https://icon2.kisspng.com/20171221/see/phoenix-logo-vector-design-5a3c31b00e5f48.7862516515138943200589.jpg" />
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-title class="ion-text-center">Conférence<br>{{dateDebut}} - {{dateFin}}</ion-title>     
    </ion-list-header>    
  </ion-list>
</ion-content>