<ion-header>
  <ion-toolbar>
    <ion-title>
      Présentateurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="affichagePres == false">
  <ion-list>
    <ion-item *ngFor="let namePres of listeNomPrenom">
      <ion-title (click)="afficherPresentateur(namePres)">{{namePres.toLocaleUpperCase()}}</ion-title>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="affichagePres == true">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-title class="ion-text-center">
        {{speakers.name.toLocaleUpperCase()}}
      </ion-title>
    </ion-item>
    <ion-item>
      <img [src]="'https://devfest2018.gdgnantes.com/' + speakers.photoUrl">
    </ion-item>
    <ion-row class="ion-padding">
      <ion-label>Biographie</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="ion-padding">BIO</ion-label>
    </ion-row>
  </ion-list>
</ion-content>